@charset "UTF-8";

html>body, button, input, select {
	font-family: Galmuri11;
	font-weight: 800;
	font-size: 3vh;
}

img {
	/* mix-blend-mode: multiply; */
	/* opacity: 0.9; */
	
}

body {
	background: rgb(0, 0, 30);
}

input {
	padding-left: 1vh !important;
	/* background-color: transparent; */
}

input::placeholder {
	color: black !important;
}

input::-webkit-input-placeholder { /* 크롬, 사파리, 오페라 */
	color: black;
}

input:-ms-input-placeholder { /* 인터넷 익스플로러 10-11 */
	color: black;
}

input::-ms-input-placeholder { /* 엣지 */
	color: black;
}

input::-moz-placeholder { /* 파이어폭스 19+ */
	color: black;
}

input:-moz-placeholder { /* 파이어폭스 4-18 */
	color: black;
}

.bg {
	width: 100vh;
	height: 100vh;
}

.bg_img {
	width: 100vh;
	height: 100vh;
}

.bo {
	border: 0.1vh solid;
}

/* 배경음악 */
.audioPlayer{
	left: 0;
	top: 0;
}

/* 메인화면 */
.logo {
	left: 1vh;
	top: 1vh;
	width: 10vh;
	height: 10vh;
	border: 1vh solid white;
	background: black;
}

.TOP3 {
	left: 70vh;
	top: 1vh;
	width: 30vh;
	height: 30vh;
}

.TOP3_img {
	width: 30vh;
	height: 30vh;
}

.TOP3_table {
	top: 6vh;
	left: 5vh;
	font-size: 2vh;
}

.TOP3_list_bt {
	top: 22.7vh;
	left: 16vh;
	width: 10vh;
	height: 2vh;
	font-size: 1.5vh;
}

.id {
	height: 5vh;
	left: 30vh;
	top: 47vh;
	-webkit-text-stroke: 0.05vh white;
	padding-left: 0.7vh;
}

.pw {
	height: 5vh;
	left: 30vh;
	top: 53vh;
	-webkit-text-stroke: 0.05vh white;
}

.id>input, .pw>input {
	width: 34vh;
}

.join_bt {
	width: 18vh;
	left: 30vh;
	top: 36vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.login_out_bt {
	width: 19vh;
	left: 51vh;
	top: 36vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.start, .start-1, .start-2, start-text {
	width: 15vh;
	height: 15vh;
	top: 46vh;
	left: 53vh;
}

.start-2, .start-text {
	display: none;
}

.start-text {
	left: 1.8vh;
	top: 7vh;
	z-index: 10;
}

.start:hover>.start-2, .start:hover>.start-text {
	display: block;
}

.start:hover>.start-1 {
	display: none;
}

.member_name1, .member_name2 {
	-webkit-text-stroke: 0.05vh white;
	width: 20vh;
}

.member_name1 {
	font-size: 4vh;
	width: 25vh;
	left: 27vh;
	top: 45vh;
	-webkit-text-stroke: 0.05vh white;
	padding: 0.7vh;
}

.member_name2 {
	font-size: 4vh;
	width: 25vh;
	left: 27vh;
	top: 51vh;
	-webkit-text-stroke: 0.05vh white;
	padding: 0.7vh;
}

/* 회원가입 화면 */
.doJoin_bg {
	top: 15vh;
	left: 10vh;
	width: 80vh;
	height: 80vh;
}

.doJoin_title {
	top: 8.5vh;
	left: 5vh;
	width: 70vh;
	font-size: 8vh;
	-webkit-text-stroke: 0.1vh white;
}

.label {
	padding-bottom: 1vh;
}

.doJoin_id {
	top: 25vh;
	left: 5vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_pw {
	top: 35vh;
	left: 5vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_pw2 {
	top: 45vh;
	left: 5vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_name {
	top: 55vh;
	left: 5vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_nickname {
	top: 65vh;
	left: 5vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_gender {
	width: 10vh;
	height: 5vh;
	top: 25vh;
	left: 50vh;
	-webkit-text-stroke: 0.05vh white;
	font-size: 2.8vh;
}

.doJoin_bt {
	top: 55vh;
	left: 50vh;
	width: 20vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.doJoin_exit {
	top: 65vh;
	left: 50vh;
	width: 20vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

/* 내 정보 화면 */
.myPage_label {
	height: 6vh;
	width: 20vh;
	display: inline-block;
}

.myPage_body {
	height: 6vh;
	width: 45vh;
	display: inline-block;
}

.myPage_bg {
	top: 15vh;
	left: 10vh;
	width: 80vh;
	height: 80vh;
}

.myPage_title {
	top: 8.5vh;
	left: 5vh;
	width: 70vh;
	font-size: 8vh;
	-webkit-text-stroke: 0.1vh white;
}

.myPage_1 {
	top: 33vh;
	left: 8vh;
	-webkit-text-stroke: 0.05vh white;
}

.myPage_2 {
	top: 39vh;
	left: 8vh;
	-webkit-text-stroke: 0.05vh white;
}

.myPage_3 {
	top: 45vh;
	left: 8vh;
	-webkit-text-stroke: 0.05vh white;
}

.myPage_4 {
	top: 51vh;
	left: 8vh;
	-webkit-text-stroke: 0.05vh white;
}

.myPage_5 {
	top: 57vh;
	left: 8vh;
	-webkit-text-stroke: 0.05vh white;
}

.myPage_bt {
	top: 68vh;
	left: 12vh;
	width: 20vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.myPage_exit {
	top: 68vh;
	left: 45vh;
	width: 20vh;
	border: 0.3vh solid;
	padding: 0.7vh;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

/* 점수기록 */
.scoreboard_bg {
	top: 15vh;
	left: 10vh;
	width: 80vh;
	height: 80vh;
}

.scoreboard_table {
	top: 4vh;
	left: 24vh;
}

.pagination {
	width: 80vh;
	top: 69.5vh;
}

.pagination>a {
	padding: 0.5vh;
	-webkit-text-stroke: 0.05vh gray;
}

.scoreboard_exit_bt {
	top: 61vh;
	left: 46vh;
	padding-right: 10vh;
}

.pagination_left {
	top: 33vh;
	left: 16vh;
}

.pagination_right {
	top: 33vh;
	left: 54vh;
}

/* 인게임 헤드 */
.ingame_logo {
	left: -18vh;
	top: 1vh;
	width: 16vh;
	height: 16vh;
	border: 1vh solid white;
	background: black;
}

.bar {
	width: 20vh;
	height: 100vh;
	top: 0;
	left: -20vh;
}

.door_top {
	left: 45vh;
	top: 0vh;
	width: 10vh;
	height: 10vh;
}

.door_bottom {
	left: 45vh;
	top: 90vh;
	width: 10vh;
	height: 10vh;
	transform: rotate(180deg);
}

.door_left {
	left: 0vh;
	top: 45vh;
	width: 10vh;
	height: 10vh;
	transform: rotate(270deg);
}

.door_right {
	left: 90vh;
	top: 45vh;
	width: 10vh;
	height: 10vh;
	transform: rotate(90deg);
}

.floor_room {
	left: 0;
	top: 18.5vh;
	width: 20vh;
	height: 9vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.3vh solid;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.hp {
	left: 0;
	top: 28vh;
	width: 20vh;
	height: 9vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.3vh solid;
	border-radius: 1vh;
	background: rgb(255, 71, 48);
}

.weapon {
	left: 0;
	top: 78vh;
	width: 20vh;
	height: 10vh;
	-webkit-text-stroke: 0.05vh white;
}

.weapon_img {
	left: 5vh;
	top: 6vh;
	width: 10vh;
	height: 10vh;
}

/* 인게임 맵 */
.guide1 {
	top: 30vh;
	left: 15vh;
	width: 30vh;
	padding: 1vh;
}

.guide2 {
	top: 30vh;
	left: 55vh;
	width: 30vh;
	padding: 1vh;
	width: 30vh;
}

.front_charac {
	left: 10vh;
	top: 44vh; /* 44.1 */
	width: 10vh;
	height: 10vh;
}

.front_charac_img {
	width: 10vh;
	height: 10vh;
}

/* [class^='Aattack'] {
	left: -6vh;
	top: 4vh;
	transform: scaleX(-1);
} */
.attackSize {
	width: 2vh;
	height: 2vh;
}

.Aattack1_1, .Aattack1_11, .Aattack1_21, .Aattack1_31, .Aattack1_41,
	.Aattack1_51, .Aattack1_61, .Aattack2, .Aattack3, .Aattack4, .Aattack5
	{
	left: -6vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack6 {
	left: -6vh;
	top: 9vh;
	transform: scaleX(-1);
}

.Aattack1_2, .Aattack1_12, .Aattack1_22, .Aattack1_32, .Aattack1_42,
	.Aattack1_52, .Aattack1_62 {
	left: -8vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_3, .Aattack1_13, .Aattack1_23, .Aattack1_33, .Aattack1_43,
	.Aattack1_53, .Aattack1_63 {
	left: -10vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_4, .Aattack1_14, .Aattack1_24, .Aattack1_34, .Aattack1_44,
	.Aattack1_54, .Aattack1_64 {
	left: -12vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_5, .Aattack1_15, .Aattack1_25, .Aattack1_35, .Aattack1_45,
	.Aattack1_55, .Aattack1_65 {
	left: -14vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_6, .Aattack1_16, .Aattack1_26, .Aattack1_36, .Aattack1_46,
	.Aattack1_56, .Aattack1_66 {
	left: -16vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_7, .Aattack1_17, .Aattack1_27, .Aattack1_37, .Aattack1_47,
	.Aattack1_57, .Aattack1_67 {
	left: -18vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_8, .Aattack1_18, .Aattack1_28, .Aattack1_38, .Aattack1_48,
	.Aattack1_58, .Aattack1_68 {
	left: -20vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_9, .Aattack1_19, .Aattack1_29, .Aattack1_39, .Aattack1_49,
	.Aattack1_59, .Aattack1_69 {
	left: -22vh;
	top: 4vh;
	transform: scaleX(-1);
}

.Aattack1_10, .Aattack1_20, .Aattack1_30, .Aattack1_40, .Aattack1_50,
	.Aattack1_60, .Aattack1_70 {
	left: -24vh;
	top: 4vh;
	transform: scaleX(-1);
}

/* [class^="Wattack"] {
	left: 4vh;
	top: -6vh;
	transform: rotate(270deg);
} */
.Wattack1_1, .Wattack1_11, .Wattack1_21, .Wattack1_31, .Wattack1_41,
	.Wattack1_51, .Wattack1_61, .Wattack2, .Wattack3, .Wattack4, .Wattack5
	{
	left: 4vh;
	top: -6vh;
	transform: rotate(270deg);
}

.Wattack6 {
	left: 9vh;
	top: -6vh;
	transform: rotate(270deg);
}

.Wattack1_2, .Wattack1_12, .Wattack1_22, .Wattack1_32, .Wattack1_42,
	.Wattack1_52, .Wattack1_62 {
	left: 4vh;
	top: -8vh;
	transform: rotate(270deg);
}

.Wattack1_3, .Wattack1_13, .Wattack1_23, .Wattack1_33, .Wattack1_3,
	.Wattack1_3, .Wattack1_63 {
	left: 4vh;
	top: -10vh;
	transform: rotate(270deg);
}

.Wattack1_4, .Wattack1_14, .Wattack1_24, .Wattack1_34, .Wattack1_44,
	.Wattack1_54, .Wattack1_64 {
	left: 4vh;
	top: -12vh;
	transform: rotate(270deg);
}

.Wattack1_5, .Wattack1_15, .Wattack1_25, .Wattack1_35, .Wattack1_45,
	.Wattack1_55, .Wattack1_65 {
	left: 4vh;
	top: -14vh;
	transform: rotate(270deg);
}

.Wattack1_6, .Wattack1_16, .Wattack1_26, .Wattack1_36, .Wattack1_46,
	.Wattack1_56, .Wattack1_66 {
	left: 4vh;
	top: -16vh;
	transform: rotate(270deg);
}

.Wattack1_7, .Wattack1_17, .Wattack1_27, .Wattack1_37, .Wattack1_47,
	.Wattack1_57, .Wattack1_67 {
	left: 4vh;
	top: -18vh;
	transform: rotate(270deg);
}

.Wattack1_8, .Wattack1_18, .Wattack1_28, .Wattack1_38, .Wattack1_48,
	.Wattack1_58, .Wattack1_68 {
	left: 4vh;
	top: -20vh;
	transform: rotate(270deg);
}

.Wattack1_9, .Wattack1_19, .Wattack1_29, .Wattack1_39, .Wattack1_49,
	.Wattack1_59, .Wattack1_69 {
	left: 4vh;
	top: -22vh;
	transform: rotate(270deg);
}

.Wattack1_10, .Wattack1_20, .Wattack1_30, .Wattack1_40, .Wattack1_50,
	.Wattack1_60, .Wattack1_70 {
	left: 4vh;
	top: -24vh;
	transform: rotate(270deg);
}

/* [class^="Dattack"] {
	left: 14vh;
	top: 4vh;
} */
.Dattack1_1, .Dattack1_11, .Dattack1_21, .Dattack1_31, .Dattack1_41,
	.Dattack1_51, .Dattack1_61, .Dattack2, .Dattack3, .Dattack4, .Dattack5
	{
	left: 16vh;
	top: 4vh;
}

.Dattack6 {
	left: 24vh;
	top: 9vh;
}

.Dattack1_2, .Dattack1_12, .Dattack1_22, .Dattack1_32, .Dattack1_42,
	.Dattack1_52, .Dattack1_62 {
	left: 18vh;
	top: 4vh;
}

.Dattack1_3, .Dattack1_13, .Dattack1_23, .Dattack1_33, .Dattack1_43,
	.Dattack1_53, .Dattack1_63 {
	left: 20vh;
	top: 4vh;
}

.Dattack1_4, .Dattack1_14, .Dattack1_24, .Dattack1_34, .Dattack1_44,
	.Dattack1_54, .Dattack1_64 {
	left: 22vh;
	top: 4h;
}

.Dattack1_5, .Dattack1_15, .Dattack1_25, .Dattack1_35, .Dattack1_45,
	.Dattack1_55, .Dattack1_65 {
	left: 24vh;
	top: 4vh;
}

.Dattack1_6, .Dattack1_16, .Dattack1_26, .Dattack1_36, .Dattack1_46,
	.Dattack1_56, .Dattack1_66 {
	left: 26vh;
	top: 4vh;
}

.Dattack1_7, .Dattack1_17, .Dattack1_27, .Dattack1_37, .Dattack1_47,
	.Dattack1_57, .Dattack1_67 {
	left: 28vh;
	top: 4vh;
}

.Dattack1_8, .Dattack1_18, .Dattack1_28, .Dattack1_38, .Dattack1_48,
	.Dattack1_58, .Dattack1_68 {
	left: 30vh;
	top: 4vh;
}

.Dattack1_9, .Dattack1_19, .Dattack1_29, .Dattack1_39, .Dattack1_49,
	.Dattack1_59, .Dattack1_69 {
	left: 32vh;
	top: 4vh;
}

.Dattack1_10, .Dattack1_20, .Dattack1_30, .Dattack1_40, .Dattack1_50,
	.Dattack1_60, .Dattack1_70 {
	left: 34vh;
	top: 4vh;
}

/* [class^="Xattack"] {
	left: 4vh;
	top: 14vh;
	transform: rotate(90deg);
} */
.Xattack1_1, .Xattack1_11, .Xattack1_21, .Xattack1_31, .Xattack1_41,
	.Xattack1_51, .Xattack1_61, .Xattack2, .Xattack3, .Xattack4, .Xattack5
	{
	left: 4vh;
	top: 16vh;
	transform: rotate(90deg);
}

.Xattack6 {
	left: 9vh;
	top: 26vh;
	transform: rotate(90deg);
}

.Xattack1_2, .Xattack1_12, .Xattack1_22, .Xattack1_32, .Xattack1_42,
	.Xattack1_52, .Xattack1_62 {
	left: 4vh;
	top: 18vh;
	transform: rotate(90deg);
}

.Xattack1_3, .Xattack1_13, .Xattack1_23, .Xattack1_33, .Xattack1_43,
	.Xattack1_53, .Xattack1_63 {
	left: 4vh;
	top: 20vh;
	transform: rotate(90deg);
}

.Xattack1_4, .Xattack1_14, .Xattack1_24, .Xattack1_34, .Xattack1_44,
	.Xattack1_54, .Xattack1_64 {
	left: 4vh;
	top: 22vh;
	transform: rotate(90deg);
}

.Xattack1_5, .Xattack1_15, .Xattack1_25, .Xattack1_35, .Xattack1_45,
	.Xattack1_55, .Xattack1_65 {
	left: 4vh;
	top: 24vh;
	transform: rotate(90deg);
}

.Xattack1_6, .Xattack1_16, .Xattack1_26, .Xattack1_36, .Xattack1_46,
	.Xattack1_56, .Xattack1_66 {
	left: 4vh;
	top: 26vh;
	transform: rotate(90deg);
}

.Xattack1_7, .Xattack1_17, .Xattack1_27, .Xattack1_37, .Xattack1_47,
	.Xattack1_57, .Xattack1_67 {
	left: 4vh;
	top: 28vh;
	transform: rotate(90deg);
}

.Xattack1_8, .Xattack1_18, .Xattack1_28, .Xattack1_38, .Xattack1_48,
	.Xattack1_58, .Xattack1_68 {
	left: 4vh;
	top: 30vh;
	transform: rotate(90deg);
}

.Xattack1_9, .Xattack1_19, .Xattack1_29, .Xattack1_39, .Xattack1_49,
	.Xattack1_59, .Xattack1_69 {
	left: 4vh;
	top: 32vh;
	transform: rotate(90deg);
}

.Xattack1_10, .Xattack1_20, .Xattack1_30, .Xattack1_40, .Xattack1_50,
	.Xattack1_60, .Xattack1_70 {
	left: 4vh;
	top: 34vh;
	transform: rotate(90deg);
}

.front_mob_img {
	width: 10vh;
	height: 10vh;
}

.front_bossMob_img {
	width: 20vh;
	height: 20vh;
}

.item {
	top: 45vh;
	left: 75vh;
	width: 10vh;
	height: 10vh;
}

/* 게임오버화면 */
.over {
	top: 2vh;
	left: 0;
	height: 100vh;
	width: 100vh;
}

.over_bt {
	font-size: 15vh;
	-webkit-text-stroke: 0.05vh white;
	padding: 25vh;
}

.item_text {
	top: 40vh;
	left: 25vh;
	height: 20vh;
	width: 50vh;
	-webkit-text-stroke: 0.05vh white;
}

.item_img {
	height: 20vh;
	width: 50vh;
	transform: scaleY(-1);
}

.item_text>div, .item_text>button {
	z-index: 20;
}

.item_title {
	top: 5vh;
	left: 3vh;
}

.item_change {
	top: 14vh;
	left: 6vh;
}

.item_mix {
	top: 14vh;
	left: 21vh;
}

.item_exit {
	top: 14vh;
	left: 37vh;
}

.bossHP {
	top: 0.5vh;
	left: 15vh;
}

.bossHP_title {
	font-size: 5vh;
	display: inline-block;
	-webkit-text-stroke: 0.05vh white;
}

.bossHP_bar {
	height: 5vh;
	width: 50vh;
	background: red;
	display: inline-block;
}